.film-loader {
    position: relative;
    display: inline-block;
}

.reel {
    border: 4px solid var(--text-secondary);
    border-radius: 50%;
    border-top-color: var(--primary);
    animation: spin 1s linear infinite;
}

.reel-inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40%;
    height: 40%;
    background-color: var(--bg-main);
    border-radius: 50%;
    border: 2px solid var(--text-secondary);
}

/* Sizes */
.loader-sm .reel {
    width: 24px;
    height: 24px;
    border-width: 3px;
}

.loader-md .reel {
    width: 40px;
    height: 40px;
}

.loader-lg .reel {
    width: 64px;
    height: 64px;
    border-width: 6px;
}

/* Centering helper */
.loader-center {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    min-height: 200px;
}